* {
    font-family: sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
  }
body {
  text-align: center;
}
canvas {
  cursor: crosshair;
}
.btn {
  cursor: pointer;
}
.warn {
  outline: 3px solid crimson;
}
.red {
  color: crimson;
  margin-bottom: 2px;
}
.list {
  margin: 20px auto;
  list-style: none;
}
.list-item {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}
.image-canvas {
  margin: 10px;
}
.result {
  display: inline-block;
  height: 100px;
  width: 100px;
}
.center-container {
  width: 80%;
  margin: 0 auto;
}
